__pycache__
prompts/dicts/
prompts/table/
out/
tmp/
archive/
kb/chroma_db/
kb/faiss/forensic.faiss
kb/faiss/forensic.pkl
kb/faiss/
kb/docs/
chroma_db/chroma.sqlite3
pericial/table
pericial/table/periciales.csv
prompts/table/prompts.csv
archive/commands.txt
kb/faiss2/forensic.faiss
kb/faiss2/forensic.pkl
kb/prompts/table/prompts_backup.csv
kb/prompts/table/prompts.csv
config.yaml
archive/hasher.py
faiss/companies.faiss
faiss/companies.pkl
docker/ollama/
logs/
data/*.mp4
faiss/.milvus_example.db.lock
faiss/milvus_example.db
saves/
keys/
